body {
    background: url(http://ou2blo0sw.bkt.clouddn.com/background001.jpg) no-repeat center top;
    background-size:1500px;
}
#main-title {
    color: #f5f7fe;
    font-size: 30px;
    text-align: center;
    border:1px solid #f5f7fe;
}

.item-left:first-child{
    padding-top: 40px;
}

.item-left, .item-right {
    position: relative;
    left: 50%;
    width: 200px;
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 30px;
    color: #f5f7fe;
}
.item-left {
    transform: translate(-200px,0);
    border-right:2px solid #f5f7fe;
}
.item-right {
    border-left: 2px solid #f5f7fe;
}