body {
    width:76%;
    background-color: #aab8a3;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    /*background-image: url(../images/background002.png);*/
}

div {
    background-color: #ebedf4;
    /*overflow: auto;*/
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 3px;
}
/*外围边框设置*/
.borderSet {
    border: 10px solid #ffffff;
}

#title-part {
    /*margin-top: 20px;*/
    text-align: center;
    background-image: url(../images/background002.png);
    background-size: cover;
    color: #f5f7fe;
}
#title-part span{
    padding: 0 5px 0 5px;
    border: 1px solid #ffffff;
}
#title-part p{
    display:none;
    padding-right: 10px;
    text-align: right;
}
.back:hover {
    cursor: pointer;
    color: #aab8a3;
    border-color: #aab8a3;
}
#parson-page {
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*标题加粗*/
.tagName {
    font-weight: bold;
}
#information-part {
    padding: 0;
    margin:0;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-right: 10px solid #ffffff;

}
#main-part {
    flex: 2 1 auto;
    padding:0 20px 20px 20px;
}
#main-part > div:hover {
    background-color: #f5f7fe;
}
#main-part > div {
    padding-left: 10px;

}
/*照片显示*/
#my-photo {
    height: 300px;
    width:300px;
    /*width: 100%;*/
    top: auto;
    left: auto;
    background: url(http://ou2blo0sw.bkt.clouddn.com/me.jpg) no-repeat center center;
    background-size: 200px;
    /*border:1px solid #c1194e;*/
}
/*个人信息显示区域*/
#self-information {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 10%;
    padding: 0;

}
#parson-name {
    text-align: center;
    font-size: 40px;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
}

/*图标位置控制*/
.tagImg  {
    background: #ebedf4 no-repeat left center;
    background-size: 25px;
    padding-left: 30px;
}
#sex-age-location {
    width: 62%;
    background: url(../images/tag01.png) no-repeat left center;
    background-size: 25px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#sex-age-location div {
    margin: 0;
    padding: 0;
}
/*图标图片选择*/
#highest-education {
    background-image: url(../images/tag02-2.png);
}
#graduation-time {
    background-image: url(../images/tag03.png);
}
#phone-num {
    background-image: url(../images/tag04.png);
}
#e-mail {
    background-image: url(../images/tag05.png);
}
#github-address {
    background-image: url(../images/tag06.png);
}
#blog-address {
    background-image: url(../images/tag07.png);
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover,a:active {
    text-decoration: underline;
    color: #ff5983;
}

/*详细信息弹框设置*/
#education:hover {
    cursor: pointer;
}
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}
.details_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: white;
    border:1px solid #aab8b3;
    border-radius: 10px;
    z-index:1002;
    overflow: auto;
}
.close {
    color: #aab8a3;
}
.close:hover {
    color: #ff5983;
    cursor: pointer;
}

.title-education {
    border-bottom: 1px solid #000000;
    font-weight: bolder;
}


.details_content > div {
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
}

#main-part #details:hover {
    background-color: white;
}

/*a[href^="http://www"] {*/
    /*background: url(../images/tag05-1.png) no-repeat right top;*/
    /*background-size: 10px;*/
    /*padding-right: 10px;*/
/*}*/
ul {
    padding: 0;
    margin: 0;
    list-style-type:none;
}
#quote-information {
    padding-left:  20px;
}