body {
    background-color: #aab8a3;
}
.tag-fiexd {
    display: none;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    text-align: center;
    font-family: Zapfino;
    background-color: rgba(255,255,255,.9);
    color: #000000;
    line-height: 60px;
    box-sizing: border-box;
    border: 1px solid #aab8a3;
    transition: all 1s 3s;
}
.tag-name {
    float: left;
    padding-left: 10px;
}
.tags {
    float: right;
    padding-right: 10px;
    font-family: "Wawati SC"
}
.tags:hover,a:active {
    text-decoration: none;
    color: #ff5983;
}
.all-body {
    min-width: 720px;
    width:76%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    /*background-image: url(../images/background002.png);*/
}

div {
    /*overflow: auto;*/
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 3px;
}
/*外围边框设置*/
.borderSet {
     border: 10px solid #ffffff;
 }

.title-part {
    /*margin-top: 20px;*/
    text-align: center;
    position: relative;
    background-image: url(../images/background002.png);
    background-size: cover;
    color: #f5f7fe;
    font-family: "Wawati SC";
}
.title-part span {
    padding: 0 5px 0 5px;
    border: 1px solid #ffffff;
}

.title-part .back {
    position: absolute;
    right: 20px;
    color: #f5f7fe;

}
.title-part .back:hover {
    cursor: pointer;
    color: #aab8a3;
    text-decoration: none;
}
#parson-page {
    background-color: #ebedf4;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*标题加粗*/
.tagName {
    font-weight: bold;
}
#information-part {
    padding: 0;
    margin:0;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-right: 10px solid #ffffff;

}
.main-part {
    flex: 3 1 auto;
    padding:0 20px 20px 20px;
}
.main-part > div:hover {
    background-color: #f5f7fe;
}
.main-part > div {
    padding-left: 10px;
}
/*照片显示*/
#my-photo {
    height: 300px;
    width:300px;
    /*width: 100%;*/
    top: auto;
    left: auto;
    background: url(http://ou2blo0sw.bkt.clouddn.com/me.jpg) no-repeat center center;
    background-size: 200px;
    /*border:1px solid #c1194e;*/
}

/*个人信息显示区域*/
.self-information {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-left: 10%;
    padding: 0;

}
.self-information > div:hover {
    background-color: #f5f7fe;
}
[v-cloak] {
    display: none;
}
#parson-name {
    text-align: center;
    font-size: 40px;
    position: relative;
    left:50%;
    transform: translate(-50%,0);
}

/*图标位置控制*/
.tagImg  {
    background: #ebedf4 no-repeat left center;
    background-size: 25px;
    padding-left: 30px;
}
#sex-age-location {
    width: 62%;
    background: url(../images/tag01.png) no-repeat left center;
    background-size: 25px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#sex-age-location div {
    margin: 0;
    padding: 0;
}
/*图标图片选择*/
#highest-education {
    background-image: url(../images/tag02-2.png);
}
#graduation-time {
    background-image: url(../images/tag03.png);
}
#phone-num {
    background-image: url(../images/tag04.png);
}
#e-mail {
    background-image: url(../images/tag05.png);
}
#github-address {
    background-image: url(../images/tag06.png);
}
#blog-address {
    background-image: url(../images/tag07.png);
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover,a:active {
    text-decoration: underline;
    color: #ff5983;
}

/*详细信息弹框设置*/
#education:hover {
    cursor: pointer;
}

.close {
    color: #aab8a3;
}
.close:hover {
    color: #ff5983;
    cursor: pointer;
}

.title-education {
    border-bottom: 1px solid #000000;
    font-weight: bolder;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type:none;
}
.quote-information {
    background-color: #ebedf4;
    padding:  20px;
}
.quote-information p {
    margin: 0;
}
.pops {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.pop-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:.80;
    background: #ebedf4;
}
.pop-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color: #9fddfc;
    padding: 10px 20px;
    width: 60%;
    border-radius: 12px;
    line-height: 1.5;
}
.pop-content span {
    font-weight: bold;
}

.click-line:hover {
    color: #ff5983;
    cursor: pointer;
}
.experience-part_title {
    border-bottom: 1px solid #000000;
    font-weight: bolder;
    font-size: 18px;
}
