body {
    background: linear-gradient(to right, #aab8a3, #ebedf4, #aab8a3)
    /*background: url('../images/background_bird.png') repeat;*/

}
.tag-fiexd {
    font-family: Zapfino;
    background-color: rgba(255,255,255,.9);
    color: #000000;
    border: 1px solid #aab8a3;
}

.tags:hover,a:active {
    color: #ff5983;
}

#parson-page, .quote-information {
    background-color: #ebedf4;
    /*background-color: #D1E0ED;*/
}

/*外围边框设置*/
.borderSet {
    border: 10px solid #ffffff;
}

.title-part {
    /*background: linear-gradient(to right, #ff5983, #c1194e,#7a023c); */
    background-image: url(../images/background002.png);
    color: #f5f7fe;

}
.title-part span {
    border: 1px solid #ffffff;
}

.title-part .back {
    color: #f5f7fe;

}
.title-part .back:hover {
    color: #aab8a3;
}

#information-part {
    border-right: 10px solid #ffffff;
}

.main-part > div:hover {
    background-color: #f5f7fe;
}
.tagImg  {
    background-color: transparent;
}

.self-information > div:hover {
    background-color: #f5f7fe;
}

/*图标图片选择*/
#highest-education {
    background-image: url(../images/tag02-2.png);
}

a {
    color: #000000;
}
a:hover,a:active {
    color: #ff5983;
}

.close {
    color: #aab8a3;
}
.close:hover {
    color: #ff5983;
    cursor: pointer;
}
.click-line:hover {
    color: #ff5983;
}
.pop-content {
    background-color: #e2e4eb;
}
