body,div,ul,li,a,img,p { margin: 0;padding: 0;}
body {
    /*min-width: 1400px;*/
    max-width: 1920px;
    font-family: 'Microsoft Yahei';
}
a {
    text-decoration: none;
    color: #000000;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}
#top_bar {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100px;
    min-width: 1200px;
    margin: 0 auto;
    transition: background .5s ease;
    -webkit-transition: background .4s ease;
}
.left_part {
    display: none;
    float: left;
    padding-left: 15px;
    padding-top: 13px;
}
.left_part img {
    width: 74px;
    height: 74px;
    float: left;
    padding-right: 15px;
    border-right: 1px solid #aab8a3;
}
.left_part > p {
    margin-top: 3px;
    margin-right: 10px;
    font-size: 16px;
    width: 16px;
    line-height: 16px;
    float: left;
}
.left_part > a {
    float: left;
    height: 72px;
    width: auto;
    margin-left: 15px;
}
.log_icon {
    display: block;
    float: left;
    width: 73px;
    height: 73px;
    margin-right: 14px;
    background: url(../images/index_z.png) no-repeat -759px -608px;
}
.game_name {
    float: left;
    width: auto;
    height: 73px;
}
.game_name h3 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}


.fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.9);
    color: #000000;
}
.topnav_list {
    float: right;
    color: #ffffff;
    padding-top: 30px;
    margin-right: 15px;
}
.topnav_list li {
    float: left;
    line-height: 35px;
    text-align: center;
}
.topnav_list li a{
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
}

.topnav_list li a:hover {
    color: #cc4336;
}
#show_outer {
    height: 580px;
    background: url("../images/yinyangshi001.jpeg") no-repeat center;
    background-size: 100%;
    position: relative;
    overflow: hidden;

}
#show_inner {
    position: relative;
    left: 200px;
    top: 40px;
    width: 2000px;
    /*overflow: hidden;*/
    padding-top: 30px;
}
#show_inner div{
    background-color: transparent;
}
@keyframes roleshow-left {
    0% { left: 140px;  opacity: 0;  filter:alpha(opacity=0);}
    100% { left: 60px; opacity: 1;  filter:alpha(opacity=100);}
}
@keyframes roleshow-right {
    0% { left: 0; opacity: 0; filter:alpha(opacity=0); }
    100% { left: 300px; opacity: 1;  filter:alpha(opacity=100); }
}
@keyframes rolehide-left {
    0% { left: 60px; opacity: 1;  filter:alpha(opacity=100);}
    100% { left: 150px;  opacity: 0; filter:alpha(opacity=0);}
}
@keyframes rolehide-right {
    0% { left: 300px;  opacity: 1;  filter:alpha(opacity=100);}
    100% { left:200px; opacity: 0; filter:alpha(opacity=0); }

}
.slide {
    position: relative;
}
.slide span {
    position: absolute;
    left: 0;
    top: 0;
}
.slide .r1 {
    left: 160px;
    top:0;
    display: block;
    animation-name: roleshow-left;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.slide .r2 {
    left: 0;
    display: block;
    animation: roleshow-right 2s ease forwards;
}
#ro3, #ro4 {
    display: none;
}
.part2 {
    /*padding: 0; margin: 0;*/
    position: absolute;
    left:0;
    top:0;
}

.slide #ro3{
    top: 110px;
}

.next, .prev{
    position: absolute;
    top: 260px;
    left: 800px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.prev {
    transform: rotate(180deg);
    left: 0;
    display: none;
}
.next:hover, .prev:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

/*wave动态*/
.wave-group {
    position: absolute;
    top: 500px;
}
.wave-group img {
    position: absolute;
    width: 1284px;
}
.wave-group .wave1 {
    left: 0;
}
.wave-group .wave2 {
    left:1284px;
}
.wave-group .wave3 {
    left: 2568px;
}
@keyframes move {
    0%   { left: 0 ;}
    /*100% { left: -1284px;}*/
    50%  { left: -1284px;}
    100% { left: -2568px;}
}
.group-1 {
    animation: move 7s infinite linear;
}
.group-2 {
    left: -300px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    animation: move 5s infinite linear;
}
.group-3 {
    left: -600px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    animation: move 10s infinite linear;
}
.bunny {
    position: absolute;
    top:450px;
    left: 170px;
}
.bunny img {
    width: 120px;
}
.bunny img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);

}
.logo {
    position: absolute;
    top: 38px;
    left: 50px;
    width: 50px;
    height: 162px;
    transition: all 1s 1.2s;
}
.logo .animate {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}
.logo span {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://webinput.nie.netease.com/img/yys/logo.png/50) 0 0 no-repeat;
    transition: all 0.3s linear;
}
.hidelogo {
    transform: scale(0);
    opacity: 0;
}

#news_part {
    margin: 30px 5px;
    position: relative;
    top: 0;
    left: 0;
}

/*信息切换页轮播图*/

#banner {
    margin: 0;
    padding: 0;
    position: relative;
    width: 360px;
    height: 270px;
    top: 0;
    left: 0;
    overflow: hidden;

}

.imgList {
    width: 2200px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}
.imgList li {
    float: left;
}
.banner_nav {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    left: 0;

}
.banner_nav a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid #e37b63;
    border-radius: 7px;
}
.banner_nav a:hover {
    background-color: #e37b63;
    cursor: pointer;
}
.banner_nav .On {
    background-color: #e37b63;
}
/*信息显示*/
.news_tabs {
    position: absolute;
    width: 500px;
    top: 0;
    left: 400px;
    padding-bottom: 6px;
    border-bottom: 3px solid #000000;
}
.news_wrap a {
    display: block;
    float: left;
}

.news_tabs em {
    width: 76px;
    height: 35px;
    font-style: normal;
    font-size: 18px;
    border-radius: 20px;
    padding: 1px 10px;
    margin-left: 10px;
    /*background-color: #68d7fc;*/
}
.news_tabs em:hover {
    background-color: #68d7fc;
}
.news_tabs em span {
    position: relative;
    top: -2px;
    left:0;
    font-size: 26px;
}
.news_tabs li {
    font-style: normal;
    font-size: 30px;
}
.clearfix:after {
    content: " ";
    clear: both;
    height: 0;
}
.temp_wrap {
    position: absolute;
    top: 48px;
    left: 400px;
    width: 500px;
    overflow: hidden;
}
.news_list {
    position: relative;
    width: 2500px;
}
.news_list  ul {
    list-style: none;
    float: left;
    width: 500px;
}
.news_list ul li {
    line-height: 41px;
    position: relative;
    overflow: hidden;
    /*width: 500px;*/
    font-size: 14px;
    border-bottom: 1px dashed;
}
.news_list ul:first-child {
    border-top: 1px solid;
}
.news_list li a:hover {
    color: #ad7610;
}
.news_list li em {
    float: right;
    font-style: normal;
    font-size: 12px;
    color: #bccddc;
}
.news_list li a {
    float: left;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
 }
.download_wrap {
    position: absolute;
    top: 462px;
    left: 400px;
    width: 533px;
    height: 123px;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;

}
.fold {
     width: 300px;
     margin-left: 491px;
 }
.download_wrap_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    background: #fccc00;
    border-radius: 9px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 7px 4px #feeb00 inset;
}
.download_wrap_inner .dw_context {
    overflow: hidden;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    /*给所有子元素加一个margin-bottom:10px;防止在还原时可以看到第二行浮动元素的上边框*/
}
.download_wrap_inner .close_download {
    float: left;
    width: 23px;
    height: 23px;
    background: url(../images/index_z.png) no-repeat;
    background-position: -1684px -835px;
}
.download_wrap_inner .download_txt {
    float: left;
    height: 100px;
    width: 45px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: url(../images/index_z.png) no-repeat;
    background-position: -1350px -614px;
}
.download_wrap_inner .qrcode {
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    height: 91px;
    width: 91px;
    background: #ffffff;
    padding: 8px;
    border-radius: 5px;
    position: relative;
}
.qrcode img {
    width: 100%
}
@keyframes mainbarcode {
    0%   { top: 10% ; }
    100% { top: 90% ; }
}
.qrcode .line {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    -moz-animation: mainbarcode 2.5s linear infinite;
    -webkit-animation: mainbarcode 2.5s linear infinite;
    -o-animation: mainbarcode 2.5s linear infinite;
    -ms-animation: mainbarcode 2.5s linear infinite;
    animation: mainbarcode 2.5s linear infinite;
}
.download_wrap_inner .download_button {
    float: left;
    width: 175px;
    height: 120px;
    margin-left: 6px;
    margin-bottom: 10px;
}
.download_button .down_ios {
    display: block;
    width: 171px;
    height: 51px;
    background: url(../images/index_z.png) no-repeat;
    background-position: -1174px -1314px;
}
.download_button .down_ios:hover {
    background-position: -907px -978px;
}
.download_button .down_android {
    display: block;
    width: 171px;
    height: 51px;
    margin-top: 5px;
    background: url(../images/index_z.png) no-repeat;
    background-position: -1080px -993px;
}
.download_button .down_android:hover {
    background-position: -1345px -1314px
}
.download_wrap_inner .button_desktop {
    float: left;
    width: 131px;
    height: 107px;
    margin-left: 6px;
    margin-bottom: 10px;
    background: url(../images/index_z.png) no-repeat;
    background-position: -928px -683px;
}
.download_wrap .fold_wrap a {
    margin: 10px;
    display: none;
    float: left;
    background: url( ../images/index_z.png) no-repeat;
    background-position: -1328px -614px;
    width: 22px;
    height: 105px;
}
.info-desktop {
    display: none;
    width: 350px;
    height: 80px;
    background: rgba(255,255,255,.9);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 365px;
    margin-left: -100px;
    z-index: 11;
    padding-top: 10px;
    font-size: 12px;
}
.info-desktop p {
    margin-top: 5px;
    margin-left: 20px;
}

/*右侧活动介绍*/
.right_side_bar {
    overflow: hidden;
    position: absolute;
    width: 330px;
    height: 1129px;
    left: 933px;
    top: 345px;
    z-index: 1;
    background: url(../images/side_bg1.png) bottom left no-repeat;
}
.right_side_bar .arrow {
    position: absolute;
    top: 145px;
    left: 0;
    border-left: 5px solid #fee300;
    border-bottom: 5px solid transparent;
    border-top:5px solid transparent;
}
.right_side_bar .rside_title {
    position: absolute;
    top: 40px;
    left: 25px;
    width: 321px;
    height:  169px;
    background: url("../images/index_z.png") no-repeat;
    background-position: -586px -872px;
}
.link_list {
    position: absolute;
    top: 199px;
    left: 0;
}
.link_list a {
    margin: 0;
    padding: 0;
    display: block;
    top: 0;
    left: 0;
    position: relative;
    background: url(../images/index_z.png) no-repeat;
}
.link_list a span {
    position: relative;
    display: block;
    width: 186px;
    height: 36px;
    font-size: 13px;
}
.link_list .icon1 {
    width: 321px;
    height: 104px;
    margin-top: 10px;
    background-position: -661px -1057px;
}
.link_list .icon1 span {
     width: 186px;
     top: 55px;
     left: 25px;
 }
.link_list a.odd {
    float: left;
    margin-left: 28px;
}
.link_list a.eve {
    float: right;
    margin-right: 28px;
}
.link_list a:hover {
    -webkit-transform: translate3d(15px,0,0);
    -moz-transform: translate3d(15px,0,0);
    -ms-transform: translate3d(15px,0,0);
    -o-transform: translate3d(15px,0,0);
    transform: translate3d(15px,0,0);
}
.link_list a .details {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: url(../images/index_z.png) no-repeat;
}
.link_list .icon2 {
    background-position: 0 -1314px;
    width: 324px;
    height: 91px;
    z-index: 8;
}
.link_list .icon2  span {
    width: 149px;
    top: 45px;
    left: 160px;
}
.link_list .icon2 .details {
    height: 363px;
    width: 324px;
    background-position: -308px 0;
}
.link_list .icon2 .details2 {
    left: 30px;
    top: 0;
    width: 300px;
    height: 290px;
    padding-top: 10px;
}

.icon2 .details2 span {
    width: 77%;
    left: 40px;
    margin: 10px 0 0 25px;
}
.icon2 .details span:last-child {
    margin-top: 30px;
}
.icon2 .details2 em {
    font-style: normal;
    color: #f95c19;
}
.link_list .icon3 {
    background-position: -1400px -99px;
    width: 307px;
    height: 95px;
    top: 0;
    z-index: 7;
}
.link_list .icon3 span {
    width: 186px;
    top: 46px;
    left: 20px;
}
.link_list .icon3 .details {
    height: 187px;
    width: 324px;
    z-index: 2;
    background-position: -327px -683px;
}
.icon3 .details2 span {
    width: 77%;
    left: 0;
    margin: 30px 0 0 25px;
}
.link_list .icon4 {
    background-position: -301px -1210px;
    width: 294px;
    height: 100px;
    z-index: 6;
}
.link_list .icon4  span {
    width: 149px;
    top: 46px;
    left: 130px;
}
.link_list .icon4 .details {
    height: 187px;
    width: 324px;
    z-index: 2;
    background-position: -634px -683px;
}
.icon4 .details2 span {
    width: 77%;
    left: 0;
    margin: 30px 0 0 25px;
}
.link_list .icon5 {
    background-position: -330px -1057px;
    width: 331px;
    height: 85px;
    z-index: 5;
    padding-top: 60px;
    margin-top: -10px;
}
.link_list .icon5 span {
    width: 320px;
    top: 0;
    left: 10px;
}
.link_list .icon5 .details {
    background-position: -210px -364px;
    height: 302px;
    width: 324px;
    z-index: 2;
    top: 0;
    left: 0;
    padding-top: 70px;
}
.icon5 .details2 span {
    width: 300px;
    left: 0;
    margin: 0 0 -10px 10px;
    padding: 0;
}
.link_list .icon6 {
    background-position: -1400px 0;
    width: 308px;
    height: 95px;
    margin-top: -50px;
    z-index: 4;
}
.link_list .icon6 span {
    width: 149px;
    top: 60px;
    left: 140px;
}
.link_list .icon6 .details {
    background-position: 0 0;
    height: 364px;
    width: 308px;
}
.link_list .icon7 {
    background-position: -1080px -882px;
    width: 309px;
    height: 108px;
    z-index: 3;
    margin-top: -10px;
}
.link_list .icon7 span {
    width: 164px;
    top: 50px;
    left: 20px;
}
.link_list .icon8 {
    background-position: -595px -1210px;
    width: 309px;
    height: 95px;
    z-index: 2;
    margin-top: -8px;
}
.link_list .icon8 span {
    width: 230px;
    top: 45px;
    left: 100px;
}
.link_list .icon9 {
    z-index: 1;
    width: 312px;
    height: 100px;
    background-position: -906px -1210px;
    margin-top: -8px;
}
.link_list .icon9 span {
    width: 320px;
    top: 60px;
    left: 20px;
}
.pop {
    position: fixed;
    width: 351px;
    height: 98px;
    background: url(../images/show_foreshow.png) 0 bottom no-repeat;
    bottom: 10px;
    left: 50%;
    margin-left: -538px;
    z-index: 100;
}
.pop em {
    position: absolute;
    width: 46px;
    height: 72px;
    top: 0;
    right: 19px;
    z-index: 2;
    background: url(../images/index_z.png) no-repeat;
    background-position: -1661px -382px;
}
.shishen_wrap {
    position: relative;
    width: 100%;
    height: 607px;
    background: #fff url(../images/strategy_bg.jpg) center 105px no-repeat;
}